<div class="left">
  <b>multi upload</b>
</div>

<div class="main">
  <form enctype="multipart/form-data" action="/file" method="post">
    <input type="file" multiple required name="files">  
    <button type="submit">Send</button>
  </form>
</div>